# Dependencies
node_modules/

# Tencent Cloud EdgeOne
.env
.edgeone/*
!.edgeone/project.json
.tef_dist/*

# Build output
dist/

# IDE
.vscode/
.cursor/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*